/* COMMENT:Root and Initial Elements */
:root {
    --Header-footer-font: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
    --Body-font: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
}

@media screen {
    body {
        margin: 5% 20%;
        background-color: #012345;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.05em;
    color: #fff;
}

/* COMMENT:Body */
body {
    font-family: var(--Body-font);
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    background-size: 120em;
}

/* COMMENT: Header */
.header {
    flex-basis: 100%;
    font-family: var(--Header-footer-font);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    min-height: 5vh;
    border: 1px solid white;
    justify-content: center;
}

.header h1 {
    flex-basis: 100%;
    align-self: center;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
}

/* COMMENT:Header Nav */
.header nav {
    padding: 2% 0% 2% 0%;
}

.header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header nav ul a {
    color: inherit;
    margin: 2em;
}

/* COMMENT: Main */
.main {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5%;
    margin: 0% 2% 0% 2%;
    color: #fff;
    max-width: 100%;
    border: 1px solid white;
}

/* COMMENT: Timer */
.timerDiv {
    display: flex;
    justify-content: center;
}

.timerDiv p {
    font-style: italic, bold;
}

.timerDiv span {
    color: green;
    margin-left: 0.3em;
}

/* COMMENT: Instructions */
.instructionsDiv {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0 2em 0;
}

.instructionsDiv h2 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.instructionsDiv p {
    display: flex;
    justify-content: center;
    margin: 0.3em 3em;
}

/* COMMENT: Start Test Button */
.buttonDiv {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin: 0 0 1em 0;
}

#startTest {
    display: flex;
    max-width: 40%;
    color: white;
    border: 1px solid white;
    padding: 5%;
    border-radius: 1em;
    justify-content: center;
    background-color: #012345;
}

/* COMMENT: Questions */
.questionsDiv {
    display: flex;
}

/* COMMENT: Answers */
.multipleChoiceAnswersDiv {
    display: flex;
    justify-content: flex-start;
    margin-left: 2em;
}

#multipleChoice li {
    margin: 1.5em;
}

#multipleChoice li:hover {
    color: blue;
}

/* COMMENT: Score */
.scoreDiv {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5em 0 2em 0;
    }

.scoreDiv h2 {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin: 2.5em;
}

/* COMMENT: Result */
.resultDiv {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0.5em;
    border-top: 1px solid #fff;
    }

.resultDiv p {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin: 0.3em 3em;
}

#logScore {
    text-decoration: underline;
    
}

#logScore:hover {
    color: blue;
}

/* COMMENT: Footer */
.footer {
    font-family: var(--Header-footer-font);
    display: flex;
    background-color: #13293d;
    color: #fff;
    padding: 1%;
    flex-wrap: wrap;
    margin: 2%;
    background: rgba(0, 0, 0, 0.8);
    min-height: 5vh;
    border: 1px solid white;
}

.footer h3 {
    display: flex;
    flex-basis: 100%;
    padding: 2% 0% 0% 2%;
    font-style: italic;
}

.footer p {
    display: flex;
    flex-wrap: wrap;
    padding: 2% 5%;
    justify-content: center;
}

#highScoresTableDiv {
    display: flex;
    justify-content: center;
    margin: 2em;
}

#highScoresTableDiv td, #highScoresTableDiv th {
    padding: 1em;
    border: 1px solid #fff;
    text-align: center;
}


@media screen and (min-width: 2500px) {
    body {
        margin: 5% 25%;
    }
    * {
        font-size: 1.06em;
    }
}

@media screen and (max-width: 1400px) {
    body {
        margin: 5% 20%;
    }
    * {
        font-size: 1.03em;
    }
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 1.03em;
    }
}

@media screen and (max-width: 1000px) {
    * {
        font-size: 1.03em;
    }
}

@media screen and (max-width: 750px) {
    body {
        margin: 0% 0%;
    }
    * {
        font-size: 1.03em;
    }
}
@media screen and (max-width: 560px) {
    * {
        font-size: 1.03em;
    }
}
@media screen and (max-width: 460px) {
    * {
        font-size: 1.03em;
    }
}

@media screen and (max-width: 380px) {
    * {
        font-size: 1.03em;
    }
}